html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Arial", sans-serif;
}

#container {
    position: relative;
    text-align: center;
}

canvas {
    display: block;
    margin: auto;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}